{% extends 'base.html' %}
{% block content %}

    <h3>{{ title }}</h3>
    <br>

    <div>
    {% if form.errors %}
    <p style="border-bottom: 1px solid red; border-top: 1px solid red; padding: 2%;">오류가 발생했습니다. 다시 한 번 시도해주세요.</p>
    {% endif %}
    </div>
    <br>

    <form action="" method="post">{% csrf_token %}
        <div><span style="display: inline-block; width: 35%;">기존 비밀번호</span> {{ form.old_password }}</div><br>
        <div><span style="display: inline-block; width: 35%;">새 비밀번호</span> {{ form.new_password1 }}</div><br>
        <div>
            <span style="display: inline-block; width: 35%;">새 비밀번호 확인</span> {{ form.new_password2 }}
        </div>
        <div>
            <input type="submit" value="확인"/>
        </div>
    </form>


{% endblock %}